In [3]:
import pandas as pd
import numpy as np

In [1]:
# OR for datasets
!kaggle datasets download mmuhammetcavus/whatsapp-chat

Dataset URL: https://www.kaggle.com/datasets/mmuhammetcavus/whatsapp-chat
License(s): unknown
Downloading whatsapp-chat.zip to /Users/aakashkhanal/Desktop/Project_fellowship/Whatsapp_chat_analysis
  0%|                                                | 0.00/133k [00:00<?, ?B/s]
100%|█████████████████████████████████████████| 133k/133k [00:00<00:00, 275MB/s]

In [2]:
import zipfile
with zipfile.ZipFile("whatsapp-chat.zip", 'r') as zip_ref:
    zip_ref.extractall("whatsapp-chat")

In [4]:
df = pd.read_csv("Whatsapp_chat.csv")

In [5]:
df.head()

   Unnamed: 0  hours  days months    names   timestamp
0           0      1    19    May  Person4  2020-05-19
1           1     22    19    May  Person3  2020-05-19
2           2     22    19    May  Person3  2020-05-19
3           3     22    19    May  Person1  2020-05-19
4           4     22    19    May  Person3  2020-05-19